<nav>
  <a class="nav-brand" routerLink="/recipes">
    🍴 RecipeApp
  </a>

  <div class="nav-links">
    <a routerLink="/recipes" routerLinkActive="active">Receitas</a>
    @if (authService.isLoggedIn()) {
      <a routerLink="/favorites" routerLinkActive="active">Favoritos</a>
    }
  </div>

  <div class="nav-right">
    @if (!authService.isLoggedIn()) {
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/register" routerLinkActive="active" class="btn-login">Registo</a>
    } @else {
      <span>👋 {{ authService.getUser()?.name }}</span>
      <button class="btn-logout" (click)="authService.logout()">Sair</button>
    }
  </div>
</nav>
